<!DOCTYPE html>
<html>
<body>

player1 div
<div id="player1"></div>
<br>
player2 div
<div id="player2"></div>
<br>

<script src="Scripts/player.js"></script>

<script>
    placePlayerFrame('player1', 'https://testplayerloaderaad.azurewebsites.net/play/live/6559faa5cbee47149bbb751afd3cbd13/ccdd386908a94523afde69fab648f07c');
    placePlayerFrame('player2', 'https://testplayerloaderaad.azurewebsites.net/play/live/6559faa5cbee47149bbb751afd3cbd13/ccdd386908a94523afde69fab648f07c');
</script>
</body>
</html>