extends layout
block content
    <div id="FlashPlayerContainer"></div>
    //<object id="flashplayer" width="800" height="500" data="/players/FlashPlayer.swf"></object>
    <div>
    p test
    </div>