doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/adal.min.js')
        script(src='/javascripts/app.js')
        script(src='/javascripts/HomeController.js')
        script(src='/javascripts/ToDoListController.js')
        script(src='/javascripts/ToDoListService.js')
        script(src='/javascripts/angular.js')
        <script src="https://code.angularjs.org/1.2.25/angular-route.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    body
        block content